.header {
  text-align: center;
  background: #52237f;
  margin: 0;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
}

.header .headline {
  color: #ffe;
}

.header-subnav {
  float: none;
  background: #52237f;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  border: none;
}

.header-subnav li {
  float: none;
  background: #52237f;
  color: #ffe;
  display: inline-block;
}

.header-subnav li a {
  padding: 1rem 1rem;
  font-size: 0.75rem;
  color: #ffe;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
}

.header-subnav li.is-active a {
  background: rgba(250, 250, 250, 0.15);
  color: #ffe;
}

.header-subnav li a:hover {
  background: rgba(250, 250, 250, 0.15);
  color: #ffe;
  transition: all 0.35s ease-in-out;
}

.tabs-content {
  border: none;
}

.info {
  width: 600px;
  margin: auto;
}

.info-small {
  margin: auto;
}

.resume {
  text-align: center;
  width: 200px;
  margin: auto;
}

.resume-link {
  width: 100%;
  height: 200px;
}

.connect a {
  color: #52237f;
}

ul.orbit-container {
   height: 500px;
   background-color: #000;
}

img.orbit-image {
   display: block;
   height: 100%;
   width: auto;
   margin: auto;
}

iframe.schedule {
  display: block;
  margin: auto;
}

.footer {
  background-color: #52237f;
  padding: 10px 0;
}
